
:root {
    --base-light-color-background: #fff;
    --base-light-color-primary: #69c;
    --base-light-color-holiday: #f63;
    --base-light-color-secondary: #ddd;
    --base-light-color-text: #666;
    --base-light-color-text-primary: #000;
    --base-light-color-text-secondary: #777;

    --base-dark-color-background: #012;
    --base-dark-color-primary: #9af;
    --base-dark-color-holiday: #fa6;
    --base-dark-color-secondary: #333;
    --base-dark-color-text: #ccc;
    --base-dark-color-text-primary: #fff;
    --base-dark-color-text-secondary: #bbb;

    --color-background: var(--base-light-color-background);
    --color-primary: var(--base-light-color-primary);
    --color-holiday: var(--base-light-color-holiday);
    --color-secondary: var(--base-light-color-secondary);
    --color-text: var(--base-light-color-text);
    --color-text-primary: var(--base-light-color-text-primary);
    --color-text-secondary: var(--base-light-color-text-secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--base-dark-color-background);
        --color-primary: var(--base-dark-color-primary);
        --color-holiday: var(--base-dark-color-holiday);
        --color-secondary: var(--base-dark-color-secondary);
        --color-text: var(--base-dark-color-text);
        --color-text-primary: var(--base-dark-color-text-primary);
        --color-text-secondary: var(--base-dark-color-text-secondary);
    }
}

html.light {
    --color-background: var(--base-light-color-background);
    --color-primary: var(--base-light-color-primary);
    --color-holiday: var(--base-light-color-holiday);
    --color-secondary: var(--base-light-color-secondary);
    --color-text: var(--base-light-color-text);
    --color-text-primary: var(--base-light-color-text-primary);
    --color-text-secondary: var(--base-light-color-text-secondary);
}

html.dark {
    --color-background: var(--base-dark-color-background);
    --color-primary: var(--base-dark-color-primary);
    --color-holiday: var(--base-dark-color-holiday);
    --color-secondary: var(--base-dark-color-secondary);
    --color-text: var(--base-dark-color-text);
    --color-text-primary: var(--base-dark-color-text-primary);
    --color-text-secondary: var(--base-dark-color-text-secondary);
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: var(--color-background);
}

body {
    font-family: Noto Sans KR,
        malgun gothic,
        sans-serif;
    color: var(--color-text);
    font-size: 1.6rem;
    line-height: 1.4;
    user-select: none;
}

.root {
    display: block;
}

#legacy {
    position: absolute;
    /* legacy */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background: #fff;
    /* legacy */
    background: var(--color-background);
    color: #000;
    /* legacy */
    color: var(--color-text-primary);
    padding: 10px;
    font-size: 2.4rem;
    text-align: center;
    cursor: not-allowed;
    z-index: 1000;
}

.root::after {
    content: '';
    display: block;
    clear: both;
}

.page {
    display: block;
    white-space: normal;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 32px 0;
    box-sizing: border-box;
}

.page+.page {
    margin-top: 6rem;
}

.fixer {
    display: block;
    padding: 32px;
    margin: 0 auto;
    max-width: 960px;
    min-width: 288px;
}

table.calendar {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

table.calendar thead th.title {
    text-align: center;
}

table.calendar thead th.title.year {
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
    vertical-align: top;
}

table.calendar thead th.title.year.oriental {
    text-align: right;
}

table.calendar thead th.title span {
    display: block;
}

table.calendar thead th.title strong {
    display: block;
    font-size: 6.4rem;
}

table.calendar .day {
    white-space: normal;
    word-break: keep-all;
    word-wrap: break-word;
    border-bottom: 1px solid var(--color-secondary);
    letter-spacing: -0.02em;
}

table.calendar thead th.day {
    padding: 12px 0;
}

table.calendar tbody td.day {
    padding: 1em 0;
    font-size: 1.6rem;
    line-height: 1.6;
    height: 6rem;
    vertical-align: top;
    border-left: 1px dashed var(--color-secondary);
    white-space: pre-line;
}

table.calendar tbody td.day.empty~td.day.empty,
table.calendar tbody td.day:first-of-type {
    border-left: 0 none;
}

table.calendar .sat {
    color: var(--color-primary);
}

table.calendar .sun,
table.calendar .holiday {
    color: var(--color-holiday);
}

table.calendar .wrap {
    display: block;
    padding: 0 8px;
}

table.calendar .wrap::after {
    content: '';
    display: block;
    clear: both;
}

table.calendar .wrap .remark {
    font-size: 1.0rem;
}

table.calendar .wrap .date {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 4.2rem;
    line-height: 1;
    letter-spacing: -.5rem;
}

table.calendar .wrap .date.circle::after {
    content: '';
    position: absolute;
    top: 0.12rem;
    right: -.75rem;
    width: 0.25rem;
    height: 0.25rem;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    background: var(--color-primary);
}

table.calendar .wrap .holiday {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6;
}

table.calendar .wrap .lunar {
    float: right;
    font-size: 1.0rem;
    max-width: 2.5rem;
    text-align: right;
    color: var(--color-text-secondary);
    white-space: normal;
    word-break: keep-all;
    word-wrap: break-word;
}

table.calendar .wrap .remark {
    display: block;
    overflow: hidden;
    color: var(--color-text-secondary);
}

table.calendar .wrap .remark,
table.calendar .wrap .holiday {
    font-style: normal;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 8px;
    }

    .fixer {
        padding: 16px 8px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 5px;
    }

    .fixer {
        padding: 12px 6px;
    }
}

@media print {
    @page {
        margin: 0;
    }

    .no-print {
        display: none !important;
    }

    .root {
        position: static;
        width: auto;
        height: auto;
        white-space: normal;
    }

    table.calendar tbody td.day {
        height: 12rem;
    }

    /* sortType=book */

    html.book .root .page:nth-of-type(odd) {
        padding-left: 3cm;
    }

    html.book .root .page:nth-of-type(even) {
        padding-right: 3cm;
    }

    .page {
        display: block;
        min-width: 0;
        max-width: 100%;
        height: auto;
        padding-top: 12.5%;
        padding-left: 0;
        padding-right: 0;
        page-break-after: always;
    }

    .page:last-of-type {
        page-break-after: auto;
    }

    .page+.page {
        margin-top: 0;
    }

    html.book table.calendar .wrap .holiday {
        font-size: 1.2rem;
    }

    html.book table.calendar .wrap .date {
        font-size: 1.2rem;
        letter-spacing: -.1rem;
    }

    html.book table.calendar tbody td.day {
        height: 12rem;
    }
}

html.no-circle table.calendar .wrap .date.circle::after {
    display: none !important;
}

@media print and (orientation: landscape) {
    html.book table.calendar tbody td.day {
        height: 10rem;
    }
}